# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objective:**
* Popular languageg in Data Science: PYTHON,R,SQL
* Libraries used by data scientist: Pandas, NumPy, Scipy,etc.
* Tools: Jupyter, Spyder, Vs code

Some of the popular languages that Data Scientists use are:
1. Python
2. R Language
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. TensorFlow
5. Matplotlib

Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|   -------------    |
| Jupyter |
| Spyder |
| VS CODE |

### Below are a few examples of evaluating arithmetic expressions in Python

In [15]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = 200/60
print(hours)

3.3333333333333335

## Author
Deepak Attri